/* .navbar {
  color: #eee;
  height: 80px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100vw;
} */

.menuBars {
  font-size: 2rem;
  background: none;
}

.headerContainer {
  display: grid;
  grid: 'headerLeft headerRight' 71px;
  min-width: 800px;
  max-width: 100vw;
  width: 100vw;
  background: #FFF;
  border-radius: 10px;
  height: 100vh;
}

.searchContainer {
  background: #242424;
  grid-area: headerLeft;
  display: grid;
  align-items: center;
  padding: 0 20px;
  border-radius: 10px 0 0 0;
  box-shadow: 0 1px 3px -1px rgba(0, 0, 0, 0.75);
  z-index: 1;
  max-width: 250px;
}

.header {
  display: grid;
  grid: 36px / 2fr 1fr;
  align-content: center;
  align-items: center;
  grid-area: headerRight;
  color: #eee;
  font-weight: bold;
  font-size: 2.0rem;
  border-radius: 0 10px 0 0;
  padding: 0 20px;
  border-bottom: solid;
  border-bottom: #2d2d2d;
}