.container {
  display: flex;
  background: #1D1D1D;
  justify-content: center;
}

.customform, label {
  color: #eee;
  font-size: 18px;
  font-weight: bold;
  padding-top: 15px;
}

.customform {
  display: flex;
  background: #1D1D1D;
  align-items: center;
  outline: none;
  border-radius: 4px;
  letter-spacing: 1.4px;
  white-space: normal;
  justify-content: center;
}

input {
  color: #eee;
  border-bottom: 1px solid #ddd;
  font-size: 16px !important;
  background: transparent;
}

p {
  color: #eee;
  padding-bottom: 7px;
}

.buttoncontainer {
  padding-top: 15px;
  display: flex;
  justify-content: flex-end;
}

.buttontext {
  background: #C38FFF !important;
  color: #eee;
  font-size: 20px !important;
}

::-webkit-scrollbar {
  display: none;
}